// ------------------------------------------------------------------------------------------------
// VARIÁVEIS
// ------------------------------------------------------------------------------------------------

$cor-primaria: #555;
$cor-secundaria: #06c;
$cor-miolo: #f1f1f1;

$cor-pinguim: #333;

$border-teste: 0px red solid;

$cor-coluna: darken( $cor-miolo, 5% );
$cor-teste: darken( $cor-primaria, 10% );


// ------------------------------------------------------------------------------------------------