@import '_mixins';
@import '_var';
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);




/* ----------------------------------------------------------------------------------------------------- */
/* GERAL */
/* ----------------------------------------------------------------------------------------------------- */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background: darken($cor-miolo,50%);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
}

#topo {
	width: 100%;
	@include gradiente(white,darken(white,5%));
	float: left;
}

#conteudo {
	width: 100%;
	background: $cor-miolo;
	float: left;
	padding: 0;
}

#rodape {
	width: 100%;
	height: 120px;
	background: darken($cor-miolo,50%);
	float: left;

	p {
		color: white;
		@include opacidade(50);
	}
}

.auxiliar {
	width: 95%;
	margin: 0 auto;
	padding: 0 0 0 0;
}

/* ----------------------------------------------------------------------------------------------------- */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	width: 100%;
	margin: 0;
	padding: 10px 0 10px 0;
	float: left;
}

.content {
	background: $cor-coluna;
	padding: 10px 0 10px 0;
}

.no-padding {
	padding: 0;
}

/* ---------------------------------------------- */

.col-1-1	{ width: 100%; }

@for $i from 1 through 11 {

	@if $i < 2 {
		.col-#{$i}-2 { width: percentage($i/2); }
	}

	@if $i < 3 {
		.col-#{$i}-3 { width: percentage($i/3); }
	}

	@if $i < 4 {
		.col-#{$i}-4 { width: percentage($i/4); }
	}

	@if $i < 5 {
		.col-#{$i}-5 { width: percentage($i/5); }
	}

	@if $i < 6 {
		.col-#{$i}-6 { width: percentage($i/6); }
	}

	@if $i < 12 {
		.col-#{$i}-12 { width: percentage($i/12); }
	}

}

/* ---------------------------------------------- */

[class*='col-'] {
	background: none;
	float: left;
	padding-right: 20px;
	border: $border-teste;
}

@media handheld, only screen and (max-width: 767px) {

	[class*='mob-col-'] {
		float: left;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
		padding-bottom: 0px;
	}

	.mob-col-1-1	{ width: 100%; }
	.mob-col-1-2	{ width: 50%; }
	.mob-col-1-3	{ width: 33.33%; }
	.mob-col-2-3	{ width: 66.66%; }

}

@media handheld, only screen and (max-width: 480px) {

	[class*='mob-col-'] { width: 100%;	}

}

/* ----------------------------------------------------------------------------------------------------- */

#topo {

	#logo {
		float: left;
		border: $border-teste;
		margin: 0 0 10px 0;
	}

	#logo-auxiliar {
		border: $border-teste;
		margin: 10px 0 10px 0;
	}

	#logo img {
		float: left;
		height: 60px;
	}

	#busca {
		float: left;
		width: 320px;
		height: 44px;
		border: $border-teste;
		margin: 18px 0 0 0;
	}

	#area-usuario {
		float: right;
		height: 44px;
		border: $border-teste;
		margin: 18px 0 0 0;
	}

	#area-usuario p {
		line-height: 44px;
		margin: 0;
	}	

}

@media handheld, only screen and (max-width: 767px) {

	#topo {

		#logo {
			float: left;
			width: 100%;
			text-align: center;
			border: $border-teste;
			margin: 10px 0 5px 0;
		}

		#logo-auxiliar {
			border: $border-teste;
			margin: 0;
		}

		#logo img {
			float: none;
		}

		#busca {
			float: left;
			width: 100%;
			height: 44px;
			text-align: center;
			border: $border-teste;
			margin: 5px 0 5px 0;
		}

		#area-usuario {
			float: left;
			width: 100%;
			height: 44px;
			text-align: center;
			border: $border-teste;
			margin: 5px 0 10px 0;
		}

	}

}

/* ----------------------------------------------------------------------------------------------------- */

a {
	color: $cor-primaria;
	text-decoration: none;
	&:hover {
		color: $cor-secundaria;
		text-decoration: none;
	}
}


/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */